body {
	margin: 2em;
}

.fret    { transform: scale(1,4); }
.string1 { transform: scale(1.0,1); }
.string2 { transform: scale(1.3,1); }
.string3 { transform: scale(1.6,1); }
.string4 { transform: scale(1.9,1); }
.string5 { transform: scale(2.1,1); }
.string6 { transform: scale(2.4,1); }

.label {
	font-family: "Apple Symbols";
	font-size: 16px;
	text-anchor: middle;
	dominant-baseline: central;
}

svg {
	display: block;
}

svg.default .fretboard { stroke: #DC9; fill: #EDA; }
svg.default .nut       { stroke: #EEE; fill: #DDD; }
svg.default .marker    { stroke: #DC9; fill: #FFE; }
svg.default .fret      { stroke: none; fill: #DDD; }
svg.default .string    { stroke: none; fill: #CCC; }
svg.default .stop      { stroke: #222; fill: #FFF; stroke-width: 1px; }

svg.simple .fretboard { stroke: #CCC; fill: #FFF; }
svg.simple .nut       { stroke: none; fill: #CCC; }
svg.simple .marker    { stroke: #CCC; fill: #FFF; }
svg.simple .fret      { stroke: none; fill: #CCC; }
svg.simple .string    { stroke: none; fill: #CCC; }
svg.simple .stop      { stroke: #000; fill: #FFF; stroke-width: 2px; }
svg.simple circle.chordTone1 { fill: black; }
svg.simple   text.chordTone1 { fill: white; }
svg.simple circle.chordTone3 { fill: #CCC;  }
svg.simple   text.chordTone3 { fill: black; }
svg.simple circle.chordTone5 { fill: #CCC;  }
svg.simple   text.chordTone5 { fill: black; }

svg.color circle.chordTone1 { fill: black; }
svg.color   text.chordTone1 { fill: white; }
svg.color circle.chordTone3 { fill: blue; }
svg.color   text.chordTone3 { fill: white; }
svg.color circle.chordTone5 { fill: red; }
svg.color   text.chordTone5 { fill: white; }
svg.color circle.chordTone7 { fill: gray; }
svg.color   text.chordTone7 { fill: white; }

table.notes {
	font-family: "Apple Symbols";
	font-size: 16px;
	table-layout: fixed;
	border-collapse: collapse;
}

table.notes td, table.notes th {
	text-align: center;
	width: 2em;
}
table.notes tr:nth-child(2) {
	border-top: 1px solid gray;
}
table.notes tr:last-child {
	border-bottom: 1px solid gray;
}
