body {
	margin: 2em;
	font-size: 16px;
	line-height: 22px;
}

h1, h2, h3, h4, h5 {
	font-size: 100%;
}

.abctext {
	display: none;
}

pre {
	margin: 0em;
}

rect.fret    { transform: scale(1,4); }
rect.string1 { transform: scale(1.0,1); }
rect.string2 { transform: scale(1.3,1); }
rect.string3 { transform: scale(1.6,1); }
rect.string4 { transform: scale(1.9,1); }
rect.string5 { transform: scale(2.2,1); }
rect.string6 { transform: scale(2.5,1); }
rect.string7 { transform: scale(2.8,1); }
rect.string8 { transform: scale(3.1,1); }

.label {
	font-family: "Apple Symbols", "Arial", sans-serif;
	font-size: 14px;
	text-anchor: middle;
	dominant-baseline: central;
}

svg {
	margin: 0.5em;
	display: block;
}

svg.inline {
	display: inline-block;
}

rect.fretboard { stroke: #CCC; fill: #FFF; }
rect.nut       { stroke: none; fill: #CCC; }
rect.fret      { stroke: none; fill: #CCC; }
rect.string    { stroke: none; fill: #CCC; }
circle.stop    { stroke: #000; fill: #FFF; stroke-width: 2px; }
circle.marker  { stroke: #CCC; fill: #FFF; }

svg.default   rect.fretboard { stroke: #DC9; fill: #EDA; }
svg.default   rect.nut       { stroke: #EEE; fill: #DDD; }
svg.default circle.marker    { stroke: #DC9; fill: #FFE; }
svg.default   rect.fret      { stroke: none; fill: #DDD; }
svg.default   rect.string    { stroke: none; fill: #CCC; }
svg.default circle.stop      { stroke: #222; fill: #FFF; stroke-width: 1px; }

svg.simple  circle.scaleDegree1 { fill: black; }
svg.simple    text.scaleDegree1 { fill: white; }
svg.simple  circle.scaleDegree3 { fill: #CCC;  }
svg.simple    text.scaleDegree3 { fill: black; }
svg.simple  circle.scaleDegree5 { fill: #CCC;  }
svg.simple    text.scaleDegree5 { fill: black; }

svg.majorpenta circle.scaleDegree1 { fill: white; }
svg.majorpenta   text.scaleDegree1 { fill: black; }
svg.majorpenta circle.scaleDegree2 { fill: white; }
svg.majorpenta   text.scaleDegree2 { fill: black; }
svg.majorpenta circle.scaleDegree3 { fill: white; }
svg.majorpenta   text.scaleDegree3 { fill: black; }
svg.majorpenta circle.scaleDegree4 { fill: #AAA;  }
svg.majorpenta   text.scaleDegree4 { fill: black; }
svg.majorpenta circle.scaleDegree5 { fill: white; }
svg.majorpenta   text.scaleDegree5 { fill: black; }
svg.majorpenta circle.scaleDegree6 { fill: white; }
svg.majorpenta   text.scaleDegree6 { fill: black; }
svg.majorpenta circle.scaleDegree7 { fill: #AAA;  }
svg.majorpenta   text.scaleDegree7 { fill: black; }

svg.minorpenta circle.scaleDegree1 { fill: white; }
svg.minorpenta   text.scaleDegree1 { fill: black; }
svg.minorpenta circle.scaleDegree2 { fill: #AAA;  }
svg.minorpenta   text.scaleDegree2 { fill: black; }
svg.minorpenta circle.scaleDegree3 { fill: white; }
svg.minorpenta   text.scaleDegree3 { fill: black; }
svg.minorpenta circle.scaleDegree4 { fill: white; }
svg.minorpenta   text.scaleDegree4 { fill: black; }
svg.minorpenta circle.scaleDegree5 { fill: white; }
svg.minorpenta   text.scaleDegree5 { fill: black; }
svg.minorpenta circle.scaleDegree6 { fill: #AAA;  }
svg.minorpenta   text.scaleDegree6 { fill: black; }
svg.minorpenta circle.scaleDegree7 { fill: white; }
svg.minorpenta   text.scaleDegree7 { fill: black; }

svg.rootcolor circle.root1 { fill: #F77; }
svg.rootcolor circle.root2 { fill: #FB7; }
svg.rootcolor circle.root3 { fill: #FF7; }
svg.rootcolor circle.root4 { fill: #7F7; }
svg.rootcolor circle.root5 { fill: #7FF; }
svg.rootcolor circle.root6 { fill: #77F; }
svg.rootcolor circle.root7 { fill: #F7F; }

svg.scalecolor circle.scaleDegree1 { fill: #333; }
svg.scalecolor   text.scaleDegree1 { fill: white; }
svg.scalecolor circle.scaleDegree3 { fill: #33F; }
svg.scalecolor   text.scaleDegree3 { fill: white; }
svg.scalecolor circle.scaleDegree5 { fill: #F33; }
svg.scalecolor   text.scaleDegree5 { fill: white; }

svg.degreecolor circle.scaleDegree1 { fill: #F77; }
svg.degreecolor circle.scaleDegree2 { fill: #FB7; }
svg.degreecolor circle.scaleDegree3 { fill: #FF7; }
svg.degreecolor circle.scaleDegree4 { fill: #7F7; }
svg.degreecolor circle.scaleDegree5 { fill: #7FF; }
svg.degreecolor circle.scaleDegree6 { fill: #77F; }
svg.degreecolor circle.scaleDegree7 { fill: #F7F; }

svg.chordcolor circle.chordTone1 { fill: black; }
svg.chordcolor   text.chordTone1 { fill: white; }
svg.chordcolor circle.chordTone3 { fill: blue; }
svg.chordcolor   text.chordTone3 { fill: white; }
svg.chordcolor circle.chordTone5 { fill: red; }
svg.chordcolor   text.chordTone5 { fill: white; }

svg.fingercolor circle.finger0 { stroke: #CCC; }
svg.fingercolor circle.finger1 { fill:   #F77; }
svg.fingercolor circle.finger2 { fill:   #FB7; }
svg.fingercolor circle.finger3 { fill:   #FF7; }
svg.fingercolor circle.finger4 { fill:   #7F3; }

table.notes {
	font-family: "Apple Symbols";
	font-size: 16px;
	table-layout: fixed;
	border-collapse: collapse;
}

table.notes td, table.notes th {
	text-align: center;
	width: 2em;
}
table.notes tr:nth-child(2) {
	border-top: 1px solid gray;
}
table.notes tr:last-child {
	border-bottom: 1px solid gray;
}
